body {
    background: linear-gradient(180deg, rgb(172, 200, 235), rgb(255, 255, 255));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: radial-gradient(rgb(255, 255, 255) 40%, rgb(160, 181, 207));
    position: relative;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    text-transform: uppercase;
    position: relative;
    bottom: 50px;
}

.middle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: radial-gradient(rgb(255, 255, 255) 40%, rgb(160, 181, 207));
    position: relative;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
}

.head {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(rgb(255, 255, 255) 40%, rgb(160, 181, 207));
    position: relative;
    bottom: 450px;
    left: 50%;
    transform: translateX(-50%);
}

.eye {
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 35px;
}

.eye.left {
    left: 35px;
}

.eye.right {
    right: 35px;
}

.nose {
    width: 0;
    height: 0;
    border-right: 40px solid transparent;
    border-bottom: 25px solid orange;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-10%);
}

.mouth {
    width: 40px;
    height: 20px;
    border-bottom: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button.one {
    top: 80px;
}

.button.two {
    top: 120px;
}

.button.three {
    top: 160px;
}

.arm.left::after {
    width: 150px;
    height: 10px;
    display: block;
    content: "";
    background: saddlebrown;
    position: absolute;
    top: 100px;
    left: -140px;
    transform: rotate(-30deg);
}

.arm.right::before {
    display: block;
    content: "";
    width: 150px;
    height: 10px;
    background: saddlebrown;
    position: absolute;
    top:100px;
    right: -140px;
    transform: rotate(30deg);
}

.hat {
    width: 50px;
    height: 10px;
    background: black;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.hat-top {
    width: 30px;
    height: 20px;
    background: black;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

form {
    transform: translateX(50%);
    justify-content: center;
    margin: 50px;
}

input{
   display: flex;
   justify-content: space-between;
}